.about {
  padding-bottom: 180px;
  // .about__container

  &__container {
    
  }

  // .about__title

  &__title {
    
  }

  &__content {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
  } 

  // .about__descr

  &__descr {
    font-weight: 600;
    &:first-child {
      margin-bottom: 3em;
    }
  }

  // .about__list

  &__list {
    max-width: 600px;
  }

  // .about__item

  &__item {
    
    @include adaptiv-font(16, 14);
    margin-bottom: 1em;
    line-height: 150%;
    
  }
  &__drops {
    position: absolute;
    z-index: -1;
    height: 300px;
    width: 350px;

    &--top {
      top: -10%;
      right: -10%;
    }
    &--bottom {
      bottom: -10%;
      left: -10%;
    }
    &--rotate {
      animation: rotateDrops 20s linear infinite;
    }
  }
  &__drop {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 27% 73% 74% 26% / 68% 67% 33% 32%;
    background: linear-gradient(315deg, rgb(255, 0, 248), rgb(16, 228, 234));

    &--right {
      right: 0;
    }
    
    &--left {
      left: 0;
    }
    &--rotate {
      animation: rotateDrop 10s linear infinite;
      transform-origin: center;
    }
    &--change {
      animation: changeForm 5s linear infinite alternate;
    }
  }
}
@keyframes rotateDrops {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotateDrop {
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}
@keyframes changeForm {
  100% {
    border-radius: 69% 31% 25% 75% / 53% 26% 74% 47%;
  }
}

