:root {
  // font-size: calc(0.5vw + 0.8em);
  font-size: calc(1vw + 0.6em);
}

body {
  font-family: OpenSans, sans-serif;
  
  font-weight: 400;
  color: $main-text-color;
  line-height: 1.3;
  // line-height: 1;
  font-size: $main-fz;
  background-color: #F1E9EA;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

h1, h2, h3 {
  font-weight: 700;
}

h2 {
  color: $title-text-color;
  font-size: $h2-fz;
  text-align: center;
}
h3 {
  color: $title-text-color;
}

.wrapper {
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
.descr {
  @include adaptiv-font(18, 16);
  margin-bottom: 1em;
}

.box {
  @include adaptiv-font(18, 16);
  padding: 2em 2em;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 1.2em;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.list-line {
  position: relative;
  padding-left: 15px;
  &::before {
    content: 	"\2012";
    position: absolute;
    top: 0;
    left: 0;
  }
}

.hide {
  display: none;
}

button {
  background-color: transparent;
}

.swiper-container {
  overflow: hidden;
  width: 100%;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex-shrink: 0;
}

