.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  font-weight: 600;
  color: $white-text-color;
  box-shadow: 0 0 25px #fff;
  transition: background-color 0.2s linear 0s;

  // .header__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
  }

  // .header__logo

  &__logo {
    font-size: 1.5rem;
  }

  // .header__nav

  &__nav {
    position: relative;
  }

  // .header__list

  &__list {
    display: flex;
    align-items: center;
  }

  // .header__item

  &__item {
    
    display: flex;
    align-items: center;
    margin-right: 1.5em;
    &:last-child {
      margin-right: 0;
    }
  }

  // .header__link

  &__link {
    color: $white-text-color;
  }
  &.colored {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .animation {
    animation: animationLine 0.5s ease-in-out forwards;
  }
}

.nav__line {
  position: absolute;
  bottom: -15px;
  
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition-property: width, left;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}



@keyframes animationLine {
  50% {
    bottom: -30px;
  }

  100% {
    bottom: -15px;
  }
}