.skills {
  padding-bottom: 180px;
  background: linear-gradient(-315deg, rgb(255, 0, 248), rgb(16, 228, 234));
  // .skills__container

  &__container {
  }

  // .skills__title

  &__title {
  }

  // .skills__cards

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 30px;
  }

  // .skills__card

  &__card {
    
  }
}

.skills-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 10px;
  gap: 30px 0;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  
  // .skills-card__title

  &__title {
    
  }

  &__item {
    @include adaptiv-font(16, 14);
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  // .skills-card__text

  &__list {
    
  }

  // .skills-card__progress

  &__progress {
    
  }
}

.progress-skills {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 1);
  background: #fff;
  
  // .progress-skill__bar
  &__bar {
    position: absolute;
    height: 100%;
    top: 0;
    left: -1px;
    width: 60%;
    background: linear-gradient(90deg, rgba(180,48,155,0.8) 0%, rgba(240,0,49,0.8) 100%);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(88, 255, 250, 1);
  }
}

.skills-card--html {
  &.active {
    .progress-skills__bar {
      width: 90%;
    }
  }
}

.skills-card--css {
  &.active {
    .progress-skills__bar {
      width: 90%;
    }
  }
}
.skills-card--js {
  &.active {
    .progress-skills__bar {
      width: 60%;
    }
  }
}
