.test {
  padding-bottom: 150px;
  padding-top: 150px;

  // .test__container

  &__container {
  }

  // .test__title

  &__title {
    text-align: center;
    line-height: 1;
    margin-bottom: 60px;
    font-size: $h2-fz;
    font-weight: 700;
  }

  p {
    line-height: 1;
    font-size: $main-fz;
  }
}
