// vars------------------
$maxWidth: 1920;
$maxWidthContainer: $maxWidth;
$main-text-color:#393E46;
$title-text-color: #221B37;
$black-text-color: #000;
$white-text-color: #fff;
$neon-blue: #03e9f4;
// vars------------------
