@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: OpenSans;
  font-size: 14;
  font-weight: 400;
  color: #393E46;
  line-height: 1.3;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h2 {
  color: #221B37;
  font-size: calc(18px + 14 * ((100vw - 320px) / 1600));
  text-align: center;
  padding: 5em 0 3em;
}

h3 {
  font-size: calc(18px + 3 * ((100vw - 320px) / 1600));
}

.wrapper {
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

._container {
  max-width: 90vw;
  margin: 0 auto;
}

.descr {
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  margin-bottom: 1em;
}

.box {
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  padding: 2em 2em;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 1.2em;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.list-line {
  position: relative;
  padding-left: 15px;
}

.list-line::before {
  content: "\2012";
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  font-weight: 600;
  color: #fff;
  -webkit-box-shadow: 0 0 25px #fff;
          box-shadow: 0 0 25px #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: calc(18px + 12 * ((100vw - 320px) / 1600));
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.5em;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  color: #fff;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: -o-linear-gradient(135deg, #ff00f8, #10e4ea);
  background: linear-gradient(315deg, #ff00f8, #10e4ea);
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(135deg, #10e4ea, #ff00f8);
  background: linear-gradient(315deg, #10e4ea, #ff00f8);
  opacity: 0;
}

.hero__title {
  position: relative;
  z-index: 30;
  padding-top: 5em;
  padding-left: 1.5em;
  line-height: 170%;
  font-size: calc(21px + 35 * ((100vw - 320px) / 1600));
  color: #fff;
}

.hero__imgbox {
  z-index: 30;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 60%;
}

.hero__imgbox img {
  height: 100%;
}

@-webkit-keyframes heroBgChange {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes heroBgChange {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.about {
  padding-bottom: 180px;
}

.about__content {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.about__descr {
  font-weight: 600;
}

.about__descr:first-child {
  margin-bottom: 3em;
}

.about__list {
  max-width: 600px;
}

.about__item {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  margin-bottom: 1em;
  line-height: 150%;
}

.about__drops {
  position: absolute;
  z-index: -1;
  height: 300px;
  width: 350px;
}

.about__drops--top {
  top: -10%;
  right: -10%;
}

.about__drops--bottom {
  bottom: -10%;
  left: -10%;
}

.about__drops--rotate {
  -webkit-animation: rotateDrops 20s linear infinite;
          animation: rotateDrops 20s linear infinite;
}

.about__drop {
  position: absolute;
  height: 150px;
  width: 150px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 27% 73% 74% 26% / 68% 67% 33% 32%;
  background: -o-linear-gradient(135deg, #ff00f8, #10e4ea);
  background: linear-gradient(315deg, #ff00f8, #10e4ea);
}

.about__drop--right {
  right: 0;
}

.about__drop--left {
  left: 0;
}

.about__drop--rotate {
  -webkit-animation: rotateDrop 10s linear infinite;
          animation: rotateDrop 10s linear infinite;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.about__drop--change {
  -webkit-animation: changeForm 5s linear infinite alternate;
          animation: changeForm 5s linear infinite alternate;
}

@-webkit-keyframes rotateDrops {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotateDrops {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotateDrop {
  100% {
    -webkit-transform: translateY(-50%) rotate(360deg);
            transform: translateY(-50%) rotate(360deg);
  }
}

@keyframes rotateDrop {
  100% {
    -webkit-transform: translateY(-50%) rotate(360deg);
            transform: translateY(-50%) rotate(360deg);
  }
}

@-webkit-keyframes changeForm {
  100% {
    border-radius: 69% 31% 25% 75% / 53% 26% 74% 47%;
  }
}

@keyframes changeForm {
  100% {
    border-radius: 69% 31% 25% 75% / 53% 26% 74% 47%;
  }
}

.skills {
  padding-bottom: 180px;
  background: -o-linear-gradient(45deg, #ff00f8, #10e4ea);
  background: linear-gradient(-315deg, #ff00f8, #10e4ea);
}

.skills__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
}

.skills-card {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 10px;
  gap: 30px 0;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.skills-card__item {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  margin-bottom: 1em;
}

.skills-card__item:last-child {
  margin-bottom: 0;
}

.progress-skills {
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px white;
          box-shadow: 0 0 15px white;
  background: #fff;
}

.progress-skills__bar {
  position: absolute;
  height: 100%;
  top: 0;
  left: -1px;
  width: 60%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(180, 48, 155, 0.8)), to(rgba(240, 0, 49, 0.8)));
  background: -o-linear-gradient(left, rgba(180, 48, 155, 0.8) 0%, rgba(240, 0, 49, 0.8) 100%);
  background: linear-gradient(90deg, rgba(180, 48, 155, 0.8) 0%, rgba(240, 0, 49, 0.8) 100%);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px #58fffa;
          box-shadow: 0 0 20px #58fffa;
}

.skills-card--html.active .progress-skills__bar {
  width: 90%;
}

.skills-card--css.active .progress-skills__bar {
  width: 90%;
}

.skills-card--js.active .progress-skills__bar {
  width: 60%;
}

.portfolio__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 50px;
}

.card-portfolio__image {
  position: relative;
  padding-bottom: 90%;
}

.card-portfolio__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hover-block__text {
  font-weight: 600;
  padding: 20px 10px 20px 10px;
}

.hover-block__decsr {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
}